# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Scikit-Learn
3. Cavet
4. Plotly
5. GGplot

|Data Science Tools|
|------------------|
|R-Studio|
|VSCODE|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
## This is a simple arithmetic expression to multiply then add integers
print((3*4)+5)

17

In [15]:
## This will convert 200 minutes to hours by dividing by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

**Objectives**:
- Python for Data Science
- R for Data Science
- Github for managing and Tracking projects

## Author
POLALA ABHINAV REDDY